<br>
<div>
  <div style="width:40%; float: left;">
    <Strong>Select monthly Revenue</Strong>
    <div>
      January <br>
      <input type="text" name="january" [(ngModel)]="january" (change)=updateData()>
    </div><br>
    <div>
      February <br>
      <input type="text" name="february" [(ngModel)]="february" (change)=updateData()>
    </div><br>
    <div>
      March <br>
      <input type="text" name="march" [(ngModel)]="march" (change)=updateData()>
    </div>
  </div>
  <div style="width:60%;">
    <Strong>Select Color</Strong>
    <div>
      <label for="color">Color</label><br>
      <select id="color1" [(ngModel)]="selectedValue1" (change)=updateData() required>
        <option *ngFor="let color of colors" [ngValue]="color">{{color}}</option>
      </select>
    </div><br>
    <div>
      <label for="color">Color</label><br>
      <select id="color2" [(ngModel)]="selectedValue2" (change)=updateData() required>
        <option *ngFor="let color of colors" [ngValue]="color">{{color}}</option>
      </select>
    </div><br>
    <div>
      <label for="color">Color</label><br>
      <select id="color3" [(ngModel)]="selectedValue3" (change)=updateData() required>
        <option *ngFor="let color of colors" [ngValue]="color">{{color}}</option>
      </select>
    </div>
  </div>
</div>
<br>
<div>
  <strong>Graph Type</strong><br>
  <div>
    <input type="radio" id="pie" name="chartType" value="pie" (click)="radioEvent('pie')">
    <label for="pie">Pie</label><br>
    <input type="radio" id="bar" name="chartType" value="bar" checked (click)="radioEvent('bar')">
    <label for="bar">Bar</label><br>
    <input type="radio" id="line" name="chartType" value="line" (click)="radioEvent('line')">
    <label for="line">Line</label>
  </div>
</div>
<div>
  <div style="width:50%; float: left;" id="chartContainer"></div>
</div>